# 김민준

# 박규리
openai
pyyaml
python-dotenv
# sudo apt install wkhtmltopdf
# sudo apt install fonts-noto-cjk
imgkit

# 이학진
pymysql
undetected_chromedriver
bs4
fake_useragent

# 정영선
pillow
requests
rembg
onnxruntime
torch
transformers
diffusers
accelerate
dotenv
sentencepiece
openai
ip-adapter
uvicorn
fastapi
streamlit
python-multipart
peft
controlnet_aux
# mediapipe
basicsr