# 김민준

# 박규리
# sudo apt install wkhtmltopdf
# sudo apt install fonts-noto-cjk
# sudo apt install build-essential
# sudo apt install python3.10-dev
openai
pyyaml
python-dotenv
imgkit
torch
transformers
diffusers
peft
bitsandbytes

rembg
onnxruntime
controlnet_aux

# 이학진
pymysql
undetected_chromedriver
bs4
fake_useragent
cryptography

# 정영선
pillow
requests
rembg
onnxruntime
torch
transformers
diffusers
accelerate
dotenv
sentencepiece
openai
ip-adapter
uvicorn
fastapi
streamlit
python-multipart
peft
controlnet_aux
basicsr