# 김민준
fastapi
streamlit
uvicorn

# 박규리
openai
pyyaml
python-dotenv
bitsandbytes
playwright

# 이학진
pymysql
undetected_chromedriver
bs4
fake_useragent
cryptography

# 정영선
pyyaml
torch
pillow
diffusers
rembg
onnxruntime
dotenv
openai
transformers
controlnet_aux
peft
mediapipe
xformers
accelerate